Repository brisbanesocialchess/.github, pull requests merged in 2024-10, with the labels that each got.

#6 Add me to the list
  profile/README.md
Labels: documentation, good first issue, hacktoberfest, hacktoberfest-accepted

#7 Update README.md
  profile/README.md
Labels: documentation

#8 Update README.md
  profile/README.md
Labels: documentation

#9 Update README.md
  profile/README.md
Labels: documentation

#10 Update README.md
  profile/README.md
Labels: documentation, good first issue, hacktoberfest, hacktoberfest-accepted

#11 Update README.md
  profile/README.md
Labels: documentation, good first issue, hacktoberfest, hacktoberfest-accepted

#12 Update README.md
  profile/README.md
Labels: documentation, good first issue, hacktoberfest, hacktoberfest-accepted

#13 Update README.md
  profile/README.md
Labels: documentation

#14 Update contributors
  profile/README.md
Labels: documentation, good first issue, hacktoberfest, hacktoberfest-accepted

#15 Update README.md
  profile/README.md
Labels: documentation, good first issue

#16 Update README.md
  profile/README.md
Labels: documentation, good first issue

#17 Update README.md
  profile/README.md
Labels: documentation, good first issue

#18 Update README.md
  profile/README.md
Labels: documentation, good first issue

#19 Update README.md
  profile/README.md
Labels: documentation, good first issue

#20 Update README.md
  profile/README.md
Labels: documentation, good first issue

#21 Update README.md
  profile/README.md
Labels: documentation, good first issue

#22 Update README.md
  profile/README.md
Labels: documentation, good first issue

#28 Update README.md
  profile/README.md
Labels: documentation, good first issue

#30 Add banner image to README
  profile/README.md
  profile/images/brisbane-social-chess.webp
Labels: documentation, good first issue

#31 Update README.md
  profile/README.md
Labels: documentation, good first issue

#32 Update README.md
  profile/README.md
Labels: documentation, good first issue

#33 Update README.md
  profile/README.md
Labels: documentation, good first issue

#37 Update README.md
  profile/README.md
Labels: documentation, good first issue

#36 Create .gitignore
  .gitignore
Labels: good first issue, hacktoberfest, hacktoberfest-accepted

#34 Create .editorconfig
  .editorconfig
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, tests

#35 Create CODEOWNERS
  CODEOWNERS
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, tests

#39 Update README.md
  profile/README.md
Labels: documentation, enhancement, good first issue, help wanted, hacktoberfest, hacktoberfest-accepted

#40 Create linter.yml
  workflows/linter.yml
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, tests

#45 Update README.md
  profile/README.md
Labels: documentation, good first issue

#41 Create .yamllint.yml
  linters/.yamllint.yml
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, tests

#50 Added Instructions to make the profile public in README
  profile/README.md
Labels: documentation, good first issue, hacktoberfest, hacktoberfest-accepted

#54 Rename workflows/linter.yml to .github/workflows/linter.yml
  .github/workflows/linter.yml
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, tests

#57 move linters directory inside .github dir
  .github/linters/.yamllint.yml
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, tests

#58 Update linter.yml
  .github/workflows/linter.yml
Labels: good first issue, tests

#61 Create dependabot.yml
  .github/dependabot.yml
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, tests

#65 Create .github/labeler.yml and .github/workflows/labeler.yml for pull request labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, tests

#70 Update .gitignore
  .gitignore
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, root

#71 Create .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, tests, root

#72 Create .codespellrc
  .codespellrc
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, tests, root

#75 Create .gitattributes
  .gitattributes
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, root

#76 Create first-interaction.yml
  .github/workflows/first-interaction.yml
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, tests, github-actions

#81 Moved CODEOWNERS file
  .github/CODEOWNERS
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, github-actions

#83 Update README.md
  profile/README.md
Labels: documentation, good first issue

#85 Update README.md
  profile/README.md
Labels: documentation, good first issue, hacktoberfest, hacktoberfest-accepted

#86 Update Codespellrc
  .codespellrc
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, tests, root

#87 Update README.md
  profile/README.md
Labels: documentation, good first issue, hacktoberfest, hacktoberfest-accepted

#88 Add Requirement file
  requirements.txt
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, root

#89 Update linter.yml
  .github/workflows/linter.yml
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, github-actions

#94 Update README.md
  profile/README.md
Labels: documentation, good first issue

#95 Update README.md
  profile/README.md
Labels: documentation, good first issue

#96 feat(lint) added lint on precommit
  .pre-commit-config.yaml
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, root

#97 Update README.md - add `K.Boopathi`
  profile/README.md
Labels: documentation, good first issue

#98 Update README.md - Add Emeka
  profile/README.md
Labels: documentation, good first issue

#99 Added codespell.txt file
  .github/linters/codespell.txt
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, github-actions

#100 Fix markdownlint
  .github/linters/.markdown-lint.yml
  .pre-commit-config.yaml
  profile/README.md
Labels: documentation, root, github-actions

#63 Create proselint.yml
  .github/workflows/proselint.yml
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, tests, github-actions

#101 Create proselint.yml
  .github/workflows/proselint.yml
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, github-actions
