Repository brisbanesocialchess/.github, pull requests merged in 2025-10, with the labels that each got.

#314 Update team members
  profile/README.md
Labels: documentation

#316 Update README.md remove one emoji
  profile/README.md
Labels: documentation

#318 Fixup pre-commit
  .github/ISSUE_TEMPLATE/01_bug_report.yml
Labels: github-actions

#319 Delete issue template config file
  .github/ISSUE_TEMPLATE/config.yml
Labels: github-actions

#325 fix ls-lint workflow
  .github/linters/.ls-lint.yml
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, tests, github-actions, yaml

#329 Update team members table
  profile/README.md
Labels: documentation
